@model IEnumerable<CMP.Models.CustomerOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>CUSTOMER ORDER</h1>
<link href="~/css/table.css" rel="stylesheet" />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-custom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td class="action-btns">
                <a class="edit-btn" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a class="details-btn" asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a class="delete-btn" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
