@model IEnumerable<CMP.Models.Product>

@{
    ViewData["Title"] = "PRODUCTS";
}
<link href="~/css/table.css" rel="stylesheet" />
<h1>PRODUCTS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table-custom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="action-btns">
                    <a class="edit-btn" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a class="details-btn" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a class="delete-btn" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
